.bivensialismo-wrapper {
  display: flex;
  row-gap: 2rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: var(--biv-yellow);
  font-size: 2rem;
  font-weight: 600;
}
