:root {
  --biv-red: #640000;
  --biv-yellow: #ffc319;
  --biv-blue: #000020;
}

body {
  background-color: var(--biv-red);
  height: 100vh;
  margin: 0;
}

main {
  height: calc(100% - 6rem);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--biv-yellow);
  color: var(--biv-blue);
  padding: 1rem;
}

footer {
  background-color: var(--biv-yellow);
  color: var(--biv-blue);
  justify-content: center;
  height: 3rem;
  display: flex;
}

footer span {
  align-self: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#construction-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#escudo {
  width: 30%;
  max-width: 300px;
  align-self: center;
}

#tractor {
  width: 2rem;
  align-self: center;
  margin-right: 1rem;
  transform: scale(-1, 1);
}

#construction-container > span {
  text-align: center;
  font-size: 24px;
  color: var(--biv-yellow);
  height: fit-content;
  align-self: center;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link.active {
  text-decoration: underline;
}

.header-links {
  display: flex;
  gap: 1rem;
}
